/* Общие стили */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #fff; 
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Стили для заголовков страниц */

h1 {
    text-align: center;
    margin-top: 20px;
}

h2, h3, h4 ,h5 ,h6 ,h7, h8 , h9{
    font-size: 1em;
    font-weight: normal;
}


/* Стили для навигационного меню */

header {
    background-color: #333; 
    padding: 10px 0; 
    background-image: url('фон для шапки1.jpg'); /* Задний фон для шапки */
    background-size: cover; /* Растягивание фона на всю ширину и высоту шапки */
    background-position: center; /* Выравнивание фона по центру */
    padding: 10px 0; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
}

/* Стили для контента на каждой странице */

/* Главная страница */
#index-content {
    margin-top: 20px;
    text-align: center; 
}

/* Резюме */
.resume-content {
    margin-top: 20px;
    text-align: center; 
}
.resume-content h2 {
    margin-top: 20px;
    text-align: center; 
    font-size: 1em;
    font-weight: normal;
}
.resume-content h3 {
    margin-top: 20px;
    text-align: center; 
    font-size: 1em;
    font-weight: normal;
}
.resume-content h4 {
    margin-top: 20px;
    text-align: center; 
    font-size: 1em;
    font-weight: normal;
}
.resume-content h5 {
    margin-top: 20px;
    text-align: center; 
    font-size: 1em;
    font-weight: normal;
}

/* Биография */
.bio-content {
    margin-top: 20px;
    text-align: center; 
}
.bio-content h2 {
    margin-top: 20px;
    text-align: center; 
    font-size: 1em;
    font-weight: normal;
}
.bio-content h3 {
    margin-top: 20px;
    text-align: center; 
    font-size: 1em;
    font-weight: normal;
}
.bio-content h4 {
    margin-top: 20px;
    text-align: center; 
    font-size: 1em;
    font-weight: normal;
}

/* Фотогалерея */
.gallery-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Картинки с текстами идут вниз */
    align-items: center; 
}

.gallery-content figure {
    text-align: center;
    margin-bottom: 20px; 
}

.gallery-content img {
    max-width: 100%;
    height: auto;
}

/* Контакты */
.contacts-content ul {
    padding: 0;
    list-style-type: none;
    text-align: center; 
}

.contacts-content h2 {
    text-align: center; 
}


.contacts-content ul li {
    margin-bottom: 10px;
    display: flex; 
    align-items: center; /* Выравнивание элементов по вертикали */
    justify-content: center; /* Центрирование содержимого по горизонтали */
}

.contacts-content ul li:nth-child(1) img {
    width: 50px; /* Установка размеров для первого изображения */
    height: 30px;
    margin-right: 10px; /* Отступ между изображением и текстом */
}

.contacts-content ul li:nth-child(2) img {
    width: 30px; 
    height: 30px;
    margin-right: 10px; 
}




/* Медиазапросы для адаптивного дизайна */

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    
}



